body {
  padding: 20px;
  margin: 0 10%;
  background: lavender;
}

.hide {
  display: none;
}

.hide-result {
  display: none;
}

.result {
  font-size: 40px;
  border: 2px solid black;
}

/* Button Style */
.btn {
  display: block;
  background: purple;
  color: white;
  width: 500px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  margin: 10px;
  text-align: left;
}

.submit-btn,
#start-btn,
#play-again {
  display: inline-block;
  background: purple;
  color: white;
  text-align: center;
  width: 125px;
  font-size: 16px;
}

.btn:hover {
  background: violet;
}

/* Question Screen Styles */
#question-screen {
  font-size: 20px;
  text-align: left;
  margin: auto;
  margin-top: 80px;
  width: auto;
  padding: 10px;
}

#question-text {
  font-size: 20px;
  font-weight: bold;
}

#correct {
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#incorrect {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

/* Start Screen Styles */
#start-screen {
  text-align: center;
}

p {
  display: block;
  font-size: 18px;
}

/* Score Sheet Styles */

.submit-btn-div,
#winner-div {
  display: flex;
  justify-content: space-around;
}

#highscore-div {
  margin-top: 40px;
}

li {
  text-align: center;
  font-weight: bold;
  background: lightgray;
  /* border: solid purple;
  margin: 1px; */
}

h4 {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.header {
  font-size: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
